<h1>Users</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>

    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Show", "/users/#{user.id}" %></td>
            <td><%= link_to "Edit", "/users/#{user.id}/edit" %></td>
            <td><%= link_to "Delete", "/users/#{user.id}", method: :delete %></td>
        </tr>
    <% end %>
</table>

<%= link_to "New User", "/users/new" %>
